@import "typography"; 
@import "colors";
@import "border";
//import "compass/css3/border-radius";

$center-align : center;

h1 {
    font-size: 2%;
}
#border {
    border: $border;
    h1 {
    font-size: 2%;
}
}

#border2 {
    border: $border;
}

#border3 {
    border: $border;
    p {
        font-size: 150%;
    }
    h1 {
    font-size: 300%;
}
}

#border4 {
    padding: inherit;
    img{max-height: 50%;}
}

#project1 {
   background-color: $bkground;
    img {
        max-width: 100%;
        max-height: 100%;
        opacity: 0.5;
    }
    
    img:hover {
        opacity: 1.0;
        background-color: $bkground;
    
    //border-bottom-right-radius: 30px;
}
                
    
}

#project2 {
    background-color: $bkground;
    img {
        max-width: 100%;
         opacity: 0.5;
    }
   // border-bottom-right-radius: 30px;
   // border-bottom-left-radius: 30px;
    
       img:hover {
        opacity: 1.0;
        background-color: $bkground;
    
   
}
}

#project3 {
    background-color: $bkground;
    border: $border;
    img {max-width: 100%;
    opacity: 0.5;
    }
    
      img:hover {
        opacity: 1.0;
        background-color: $bkground;
    
   
}
}

#project4 {
    background-color: $bkground;
    border: $border;
    img { max-width: 100%;
    opacity: 0.5;}
    
      img:hover {
        opacity: 1.0;
        background-color: $bkground;
    
   
}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $bkground;
}

#logo {
    background-color: $bkground;
    img { background-color: $bkground;
          margin-right: 20%;
    }
}

#nav {
    background-color: $bkground;
}

li {
    float: left;
    font: 200% $heading-1;
}

li a {
    display: block;
    color: $white-color;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: $bkground2;
    list-style-type: none;
}

#painting {
    position: relative; 
   width: 100%; /* for IE 6 */
    h1 { 
   font: 300% $developer;
   position: absolute; 
   top: 25%; 
   left: 0; 
   width: 100%;
    }

    }

#job-title {
    color: $job-title;
}
#purple1{
    background-color: $bkground;
    img {
    display: block;
    margin: 0 auto;
    }
}

#white1{
    background-color: $white-color;
}

#purple2{
    background-color: $bkground;
    img {
    display: block;
    margin: 0 auto;
    }
}

#white2 {
    background-color: $white-color;
}

#purple3{
    background-color: $bkground;
    img {
    display: block;
    margin: 0 auto;
    }
}

#white3 {
    background-color: $white-color;
}


body {
    background-image: url(../img/background-main.png);
    font: 100% $regular-font;
        
}

h1 {
    font: 200% $heading-1;
    color: $heading-color;
    text-align: $center-align;
}

h2, h3 {
    text-align: $center-align;
    color: $heading-color;
        
}


