@import "typography"; 
@import "colors";
@import "border";
//import "compass/css3/border-radius";

$center-align : center;

h1 {
    font-size: 2%;
}
#border {
    border: $border;
    h1 {
    font-size: 2%;
}
}

#border2 {
    border: $border;
}

#border3 {
    border: $border;
    p {
        font-size: 150%;
    }
    h1 {
    font-size: 300%;
}
}

#border4 {
    padding: inherit;
    img{max-height: 50%;}
}

#project1 {
   background-color: green;
    img {
        max-width: 100%;
        max-height: 100%;
        opacity: 0.5;
    }
    
    img:hover {
        opacity: 1.0;
        background-color: $bkground;
    
    //border-bottom-right-radius: 30px;
}
                
    
}

#project2 {
    background-color: $bkground;
    img {
        max-width: 100%;
         opacity: 0.5;
    }
   // border-bottom-right-radius: 30px;
   // border-bottom-left-radius: 30px;
    
       img:hover {
        opacity: 1.0;
        background-color: $bkground;
    
   
}
}

#project3 {
    background-color: $bkground;
    border: $border;
    img {max-width: 100%;
    opacity: 0.5;
    }
    
      img:hover {
        opacity: 1.0;
        background-color: $bkground;
    
   
}
}

#project4 {
    background-color: $bkground;
    border: $border;
    img { max-width: 100%;
    opacity: 0.5;}
    
      img:hover {
        opacity: 1.0;
        background-color: $bkground;
    
   
}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $bkground;
}

#logo {
    background-color: $bkground;
    img { background-color: $bkground;
          margin-right: 20%;
    }
}

#nav {
    background-color: $bkground;
}

li {
    float: left;
    font: 200% $heading-1;
}

li a {
    display: block;
    color: $white-color;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: $bkground2;
    list-style-type: none;
}

#painting {
    position: relative; 
   width: 100%; /* for IE 6 */
    h1 { 
   font: 300% $developer;
   position: absolute; 
   top: 25%; 
   left: 0; 
   width: 100%;
    }

    }

#job-title {
    color: $job-title;
}
#purple1{
    background-color: $bkground;
    img {
    display: block;
    margin: 0 auto;
    }
}

#white1{
    background-color: $white-color;
}

#purple2{
    background-color: $bkground;
    img {
    display: block;
    margin: 0 auto;
    }
}

#white2 {
    background-color: $white-color;
}

#purple3{
    background-color: $bkground;
    img {
    display: block;
    margin: 0 auto;
    }
}

#white3 {
    background-color: $white-color;
}


body {
    background-image: url(../img/background-main.png);
    font: 100% $regular-font;
        
}

h1 {
    font: 200% $heading-1;
    color: $heading-color;
    text-align: $center-align;
}

h2, h3 {
    text-align: $center-align;
    color: $heading-color;
        
}

/* FROM CODE PEN */

/* body{
  max-width: 900px;
  float: none;
  margin: auto; 

} */
#portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
.tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
.tile:hover { 

}

.scale-anm {
  transform: scale(1);
}


/*p{ 
  padding:10px; 
  border-bottom: 1px #ccc dotted; 
  text-decoration: none; 
  font-family: lato; 
  text-transform:uppercase; 
  font-size: 12px; 
  color: #333; 
  display:block; 
  float:left;
}

p:hover { 
  cursor:pointer; 
  background: #333; 
  color:#eee; }
*/

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}
.tile img { transition: all .2s ease-in-out; }
.tile img:hover { transform: scale(1.1); }

.btn {
    font-family: $regular-font;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.modal-body img {
    max-height: 100px;
    max-width: inherit;
    text-align: center;
}


